<header id="cabecalho">
    <div class="container">
      
      <div id="logo" onmouseover="late();"></div>
      <h1>PET SHOP</h1>
      <div class="clear"></div> <!-- servira como um divisor (clearfix) -->
      <nav id="menu">
        <a id="home" href="index.html">home</a>
        <a id="produtos" routerLink='/produtos'>Produtos</a>
        <a id="galeria" href="galeria.html">galeria</a>
        <a id="servicos" routerLink="/produtos/novo">Novo produto</a>
        <a id="contato" routerLink='/contato'>contato</a>
      </nav>
    </div>
  </header>
